<!-- webapp/WEB-INF/web.xml -->
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">

	<display-name>To do List</display-name>
	
	<!-- WELCOME FILE -->
	<welcome-file-list> <!-- REDIRECTIONARE A UNUI URL FARA PARAMETRI -->
		<welcome-file>login</welcome-file>
	</welcome-file-list>
	
	<!-- DISPATCHER PENTRU TODO-SERVLET => LOGIN, spring-mvc/login ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<servlet>
	        <servlet-name>dispatcher</servlet-name>	<!-- il poti denumi cum vrei -->
	        <servlet-class>							<!-- Clasa de Dispatcher din Spring Framework -->
	            org.springframework.web.servlet.DispatcherServlet
	        </servlet-class>
	        <init-param>
	            <param-name>contextConfigLocation</param-name>
	            <param-value>/WEB-INF/todo-servlet.xml</param-value>
	        </init-param>
	        <load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>		<!-- cand scriem spring-mvc in url, se directioneaza catre dispatcher -->
		<url-pattern>/</url-pattern>	<!-- acest mapping apare in URL/spring-mvc/... -->
	</servlet-mapping>
	
	<!-- CONFIGURAM FILTER-UL PENTRU SPRING SECURITY -->
	<!-- filter declaration for Spring Security -->
	<!--
	<listener>
     	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<filter>
    	<filter-name>springSecurityFilterChain</filter-name>
    	<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
   	</filter>
 
   	<filter-mapping>
   		<filter-name>springSecurityFilterChain</filter-name>
    	<url-pattern>/*</url-pattern>
   	</filter-mapping> 
	-->
</web-app>